.container { 
    margin-top: 40px;
    height: 400px;
    width: 450px;
    background: #00ffff;
    background: linear-gradient(90deg, rgba(0, 255, 255, 1) 0%, rgba(66, 230, 255, 1) 99%);
    padding: 20px ; 
    border-radius: 20px;
    border: 1px solid #626262;
}

.container div { 
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.container  div button { 
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    background-color: #FA9923;
    transition: all 0.3s ease-in-out;
}

.container  div button:hover {
    opacity: 0.9;
}

.container div p { 
    font-weight: 600;
    font-size: 1rem;
}


